header
    height: 250px
    background: linear-gradient(250deg, #1a7f98, transparent)
    
    

    .wrapper
        display: flex
        flex-direction: column
        justify-content: center
        padding: 20px
        width: 100%
        max-width: 1200px //max-width caps viewport
        margin: auto

    h1  
       width: 50%
       font-size: 200%
       text-transform: uppercase 
       
       
    .checkTapLogo
        border-radius:100%
     
    .topNav
        display: flex
        justify-content: space-between
        align-content: center

        ul
            display: flex
            text-decoration: none
            list-style: none
            gap: 15px
            

            li
                font-weight: 600
                font-size: 16px    
       
       

     
   
    

footer
    font-weight: bold
    text-align: center

main
    width: 100%
    max-width: 1250px //max-width caps viewport
    margin: auto
    padding: 30px

    .home_body
        display: flex
        flex-direction: column
        gap: 50px

    .img    
        height: 50%   
        
    .card
         display: flex
         flex-direction: row  
         gap: 30px
         justify-content: center
         align-content: center
         align-items: center
         &:nth-child(even)
            direction: rtl

    .content
            width: 50%
       


    